body {
	background-color: #f6f6f6;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
div#container {
	width: 105%;
	text-align: center;
}
div#entryinfo {
	display: none;
}
button {
	width: 97%;
	margin: 10px;
	overflow: none;
}




.icon{
	max-height: 30px;
}

form#entryinfoform {
	margin: auto;
	padding: 10px;
	max-width: 250px;
}


input[type="file"].fileElem {
  /* Note: display:none on the input won't trigger the click event in WebKit.
     Setting visibility to hidden and width 0 works.*/
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.form-control{
	text-align: center;
	resize: none;
	font-size: 1.4em;
	width: 40%;
	height: 200%;
}

input[type=file] {
	position: static;
	z-index: 2;
	text-align: center;
	border: 1px solid #ddd;
	margin: 2px;
	resize: none;
	font-size: 1.4em;
	width: 40%;
	display: inline-block;
	padding: 6px 12px;
	opacity: 0.5;
}
div#testcontainer {
	width: 100%;
}



div#testslidecontent {
	display:none;
	text-align:center;
	margin: auto;
	background-color: rgba(150,150,0,0.3);
}
.full-width {
	margin: auto;
	width: 100%;
	padding: 5px;
}
.btn-color {
}
a.de-styled-link {
	text-decoration: none;
	color: inherit;
	margin: 0;
	border: 1px dashed orange;
}

.my-col-6 {

}
span#datebox {
	font-size: 2em;
}

/* desktop */
@media (min-width: 768px) {
	.form-control {
	}
	span#datebox {
		font-size: 5em;
	}
}

